<div class="image image-overlay image-scrolling" style="background-image:url(<%=asset_path('kit.jpg')%>)"
     data--100-bottom-top="transform: translateY(0%);"
     data-top-bottom="transform: translateY(25%);">
</div>

<%= render "layouts/item_show_photo_description", item: @it %>
<%-# <%= render "layouts/item_show_carrousel" %>

<%-# <%= render "layouts/seteps"" %>
<%-# <%= render "layouts/footer" - -%>
