<div class="component-example">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <figure  class="text-center">
          <a class="lightbox" href="<%=asset_path(item.image_url)%>" title="Image title">
            <img src="<%=asset_path(item.image_url)%>" alt="Image" width="100%" height="auto" >
          </a>
        </figure>
      </div>


    <div class="col-md-12 col-lg-12">
      <div class="card text-center">
        <div class="card-header">
          <%= item.title %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= item.title%> </h5>
          <h5 class="card-title"><%= item.description %> </h5>
          <p class="card-text"><%= item.price %>€</p>
          <%if user_signed_in?%>
              <% if current_user.cart.items.include?(item)  %>
              <small class="text-primary">Déjà dans votre panier</small>
              <br>
              <%=link_to 'Continuer shopping',  root_path, class: "btn btn-primary btn-sm"%>
              <%else%>
              <%=link_to 'Ajout rapide au panier',  item_itemcart_index_path(item.id), method: :post, class: "btn btn-primary btn-sm", remote: true%>
              <br><br>
              <%=link_to 'Continuer shopping',  root_path, class: "btn btn-primary btn-sm"%>
              <% end %>
            <%end%>
        </div>
        <div class="card-footer text-muted">
           days ago
        </div>
      </div>
    </div>
  </div>
</div>
